body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}




.input {
    margin: 317px 55px;
    box-sizing: border-box;
    border: 1px solid #184C51;
    width: 40vh;
    height: 8vh;
    font-size: 12px;
    position: relative;
}

input::placeholder {
    transform: translateX(10px);
  }

.input:focus {
    padding: 20px;
    border: 1px solid #184C51;
}

.text {
    padding: 0 0;
    text-transform: uppercase;
    color: #184C51;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: -396px 57px;
    font-size: 16px;
    border-left: 1px solid #184C51;
}

.text:before {
    border-left: 1px solid black;
}


/* кнопка ебучая */

.button {
    margin: 625px 101px;
    display: inline-block;
    vertical-align: top;
    padding-left: 3.5px;

    border-radius: 5px;           
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    user-select: none;
    line-height: 1.5;
    width: 155px;
    box-sizing: content-box;
    /* transition: 1.5s; */
}


.button--blue {
    border: none;
    background: #184C51;
    color: #fff;
    
}

.button:active{
    transform: scale(1.2)
}


